@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		font-family: 'Inter', system-ui, -apple-system, sans-serif;
		height: 100%;
	}

	h2 {
		@apply text-3xl my-4 font-semibold;
	}

	h3 {
		@apply text-2xl my-3 font-semibold;
	}

	li {
		@apply my-2;
	}
}

#root {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.markdown-container code {
	background: transparent;
	overflow-x: auto;
}

@keyframes shimmer {
	0% {
	  background-position: 200% 0;
	}
	100% {
	  background-position: -200% 0;
	}
}
  
.animate-shimmer {
	animation: shimmer 2s infinite linear;
}
