@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		font-family: 'Inter', system-ui, -apple-system, sans-serif;
		height: 100%;
	}
}

#root {
	height: 100%;
	display: flex;
	flex-direction: column;
}
